<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity3"
            android:label="@string/title_activity_main3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity4"
            android:label="@string/title_activity_main4"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity5"
            android:label="@string/title_activity_main5"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity6"
            android:label="@string/title_activity_main6"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity7"
            android:label="@string/title_activity_main7"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity8"
            android:label="@string/title_activity_main8"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity9"
            android:label="@string/title_activity_main9"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity10"
            android:label="@string/title_activity_main10"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity11"
            android:label="@string/title_activity_main11"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity12"
            android:label="@string/title_activity_main12"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity13"
            android:label="@string/title_activity_main13"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity14"
            android:label="@string/title_activity_main14"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity15"
            android:label="@string/title_activity_main15"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity16"
            android:label="@string/title_activity_main16"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity17"
            android:label="@string/title_activity_main17"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity18"
            android:label="@string/title_activity_main18"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity19"
            android:label="@string/title_activity_main19"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity20"
            android:label="@string/title_activity_main20"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity21"
            android:label="@string/title_activity_main21"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity22"
            android:label="@string/title_activity_main22"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity23"
            android:label="@string/title_activity_main23"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity24"
            android:label="@string/title_activity_main24"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity25"
            android:label="@string/title_activity_main25"
            android:parentActivityName=".MainActivity4"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity4" />
        </activity>
        <activity
            android:name=".MainActivity26"
            android:label="@string/title_activity_main26"
            android:parentActivityName=".MainActivity4"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity4" />
        </activity>
        <activity
            android:name=".MainActivity27"
            android:label="@string/title_activity_main27"
            android:parentActivityName=".MainActivity25"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity25" />
        </activity>
        <activity
            android:name=".MainActivity28"
            android:label="@string/title_activity_main28"
            android:parentActivityName=".MainActivity25"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity25" />
        </activity>
        <activity
            android:name=".MainActivity29"
            android:label="@string/title_activity_main29"
            android:parentActivityName=".MainActivity25"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity25" />
        </activity>
        <activity
            android:name=".MainActivity30"
            android:label="@string/title_activity_main30"
            android:parentActivityName=".MainActivity25"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity25" />
        </activity>
        <activity
            android:name=".MainActivity31"
            android:label="@string/title_activity_main31"
            android:parentActivityName=".MainActivity20"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity20" />
        </activity>
        <activity
            android:name=".MainActivity32"
            android:label="@string/title_activity_main32"
            android:parentActivityName=".MainActivity20"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity20" />
        </activity>
        <activity
            android:name=".MainActivity33"
            android:label="@string/title_activity_main33"
            android:parentActivityName=".MainActivity27"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity27" />
        </activity>
        <activity
            android:name=".MainActivity34"
            android:label="@string/title_activity_main34"
            android:parentActivityName=".MainActivity27"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity27" />
        </activity>
        <activity
            android:name=".MainActivity35"
            android:label="@string/title_activity_main35"
            android:parentActivityName=".MainActivity5"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity5" />
        </activity>
        <activity
            android:name=".MainActivity36"
            android:label="@string/title_activity_main36"
            android:parentActivityName=".MainActivity5"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.ibaisuniv.ibaisuniversity.ibaisuniversity.MainActivity5" />
        </activity>
    </application>

</manifest>
